html {
  font-size: 100%;
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Space Grotesk", sans-serif;
  font-size: 18px;
}

body {
  width: 100vw;
  height: 100vh;
}

aside {
  height: 230px;
  background-image: url("/bg-main-mobile.png");
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 80px;
}
aside .card-container {
  position: relative;
  width: 375px;
  height: 240px;
}
aside .card-container .card-back {
  width: 280px;
  height: 200px;
  background-image: url("/bg-card-back.png");
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  top: 30px;
  right: 20px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  z-index: 0;
}
aside .card-container .card-back #CVC {
  margin-bottom: 50px;
  letter-spacing: 1px;
  margin-right: 35px;
  color: hsl(0deg, 0%, 100%);
  font-size: 10px;
}
aside .card-container .card-front {
  width: 273px;
  height: 150px;
  background-image: url("/bg-card-front.png");
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 1;
  position: absolute;
  top: 117px;
  left: 20px;
  padding: 15px;
  box-shadow: 0px 15px 20px hsla(0deg, 0%, 0%, 0.2);
  border-radius: 7px;
}
aside .card-container .card-front #card-logo {
  height: 25px;
  margin-bottom: 40px;
}
aside .card-container .card-front #number {
  color: hsl(0deg, 0%, 100%);
  font-size: 17px;
  letter-spacing: 2px;
  margin-bottom: 10px;
}
aside .card-container .card-front .name-and-expiration {
  display: flex;
  font-size: 11px;
  color: hsl(270deg, 3%, 87%);
  justify-content: space-between;
}

main {
  padding: 0px 20px 35px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  position: relative;
}
main #form {
  width: 330px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  /* Chrome, Safari, Edge, Opera */
  /* Firefox */
}
main #form label {
  font-size: 12px;
  font-weight: 500;
  color: hsl(278deg, 68%, 11%);
  letter-spacing: 1px;
}
main #form input {
  border: 2px solid hsl(270deg, 3%, 87%);
  padding: 10px 10px;
  width: 330px;
  border-radius: 6px;
  color: hsl(278deg, 68%, 11%);
  margin-bottom: 20px;
  margin-top: 5px;
}
main #form input:focus {
  outline: none;
  background: linear-gradient(rgb(255, 255, 255), rgb(255, 255, 255)) padding-box, linear-gradient(to right, hsl(249deg, 99%, 64%), hsl(278deg, 94%, 30%)) border-box;
  border-radius: 6px;
  border: 2px solid transparent;
}
main #form input::-webkit-outer-spin-button,
main #form input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
main #form input[type=number] {
  -moz-appearance: textfield;
}
main #form .format-error {
  font-size: 12px;
  margin-top: -15px;
  margin-bottom: 20px;
  color: hsl(0deg, 100%, 66%);
  display: none;
}
main #form .blank {
  font-size: 12px;
  margin-top: -15px;
  margin-bottom: 20px;
  color: hsl(0deg, 100%, 66%);
  display: none;
}
main #form .error {
  display: block;
}
main #form .error-border {
  border: 2px solid hsl(0deg, 100%, 66%);
}
main #form .format-error-border {
  border: 2px solid hsl(0deg, 100%, 66%);
}
main #form .form-exp {
  display: flex;
  margin-top: -10px;
}
main #form .form-exp .exp {
  width: 75px;
  color: hsl(278deg, 68%, 11%);
  margin-right: 10px;
  border-radius: 8px;
}
main #form .form-exp #card-cvc {
  width: 160px;
  color: hsl(278deg, 68%, 11%);
}
main #form #submit-btn {
  width: 330px;
  padding: 15px 0px;
  border: none;
  background-color: hsl(278deg, 68%, 11%);
  color: hsl(0deg, 0%, 100%);
  font-weight: 500;
  letter-spacing: 1px;
  border-radius: 7px;
  cursor: pointer;
  transition: 0.3s;
}
main #form #submit-btn:hover {
  background-color: hsl(279deg, 69%, 26%);
}

.complete-state {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: none;
}
.complete-state img {
  margin-bottom: 30px;
}
.complete-state h1 {
  letter-spacing: 5px;
  font-weight: 100;
  color: hsl(278deg, 68%, 11%);
  margin-bottom: 10px;
}
.complete-state h5 {
  color: hsl(279deg, 6%, 55%);
  font-weight: 400;
  letter-spacing: 1px;
  margin-bottom: 40px;
}
.complete-state #continue {
  width: 330px;
  padding: 15px 0px;
  border: none;
  background-color: hsl(278deg, 68%, 11%);
  color: hsl(270deg, 3%, 87%);
  font-weight: 500;
  font-size: 15px;
  letter-spacing: 1px;
  border-radius: 7px;
  cursor: pointer;
  transition: 0.3s;
}
.complete-state #continue:hover {
  background-color: hsl(279deg, 69%, 26%);
}

.footer {
  position: absolute;
  bottom: -45px;
  color: hsl(279deg, 6%, 55%);
  text-align: center;
}
.footer a {
  text-decoration: none;
  color: hsl(278deg, 68%, 11%);
}

@media (min-width: 1280px) {
  #app {
    display: flex;
  }
  #app aside {
    height: 100vh;
    width: 650px;
    margin-bottom: 0;
    background-image: url("/bg-main-desktop.png");
  }
  #app aside .card-container .card-front {
    top: 140px;
    left: 125px;
    width: 390px;
    height: 214px;
    padding: 25px 25px 20px 25px;
  }
  #app aside .card-container .card-front #card-logo {
    height: 40px;
    margin-bottom: 50px;
  }
  #app aside .card-container .card-front #number {
    font-size: 26.7px;
    margin-bottom: 20px;
  }
  #app aside .card-container .card-front .name-and-expiration {
    font-size: 13px;
  }
  #app aside .card-container .card-back {
    width: 390px;
    height: 214px;
    top: 390px;
    left: 210px;
    box-shadow: 0px 15px 50px 20px hsla(0deg, 0%, 0%, 0.1);
    border-radius: 9px;
  }
  #app aside .card-container .card-back #CVC {
    margin-bottom: 3px;
    margin-right: 45px;
    font-size: 12px;
  }
  #app main {
    justify-content: center;
    margin-bottom: 70px;
  }
  #app main #form input {
    margin-bottom: 30px;
  }
  #app main #form #submit-btn {
    margin-top: 10px;
  }
}/*# sourceMappingURL=style.css.map */